<header class="header d-flex align-itesm-center justify-content-between p-4">
    <h2 class="m-0 fs-2">Dashboard</h2>


    <div class="d-flex gap-3 align-items-center">

        <button class="header-btn btn btn-clear-warning">
            <span class="icon-notifications_none"></span>
        </button>

        <div class="user-controls d-flex gap-2">
            <div class="user-controls-image">
                <img src="assets/images/image.jpg" alt="user image">
            </div>
            
            <div class="user-controls-body d-flex flex-column justify-content-around">
                <div class="user-controls-body-name d-flex align-items-center justify-content-between">
                    <span>User</span>
                    <span class="icon-keyboard_arrow_down"></span>
                </div>
                <div class="user-controls-body-role">
                    <span>Admin</span>
                </div>
            </div>
        </div>
    </div>


</header>