:host{
    display: contents;
}

.table{
    td, th{
        vertical-align: middle;
    }

    tr:nth-child(2){
        --row-color: var(--bs-green)
    }
    tr:nth-child(3){
        --row-color: var(--bs-orange)
    }
    tr:nth-child(4){
        --row-color: var(--bs-blue)
    }
}

.progress-bar{
    width: 15rem;
    height: .4rem;
    border-radius: .5rem;
    background-color: color-mix(in srgb, var(--row-color, var(--primary)) 25%, transparent);
    overflow: hidden;

    &-active{
        background-color: var(--row-color, var(--primary));
        height: 100%;
    }
}

.chip{
    text-align: center;
    padding: .1rem .4rem;
    border: solid 1px var(--row-color, var(--primary));
    color: var(--row-color, var(--primary));
    background-color: color-mix(in srgb, var(--row-color, var(--primary)) 10%, transparent);
    border-radius: .3rem;
    font-weight: 500;
    font-size: .9rem;
}