<div class="layout d-flex overflow-hidden h-100">
    <div class="layout-side-menu flex-shrink-0">
        <app-side-menu class="d-contents"></app-side-menu>
    </div>
    <div class="layout-body flex-grow-1 d-flex flex-column overflow-hidden">
        <div class="layout-body-header flex-shrink-0">
            <app-header class="d-contents"></app-header>
        </div>
        <div class="layout-body-content flex-grow-1 overflow-auto">
            <app-dashboard class="d-contents"></app-dashboard>
        </div>
    </div>
</div>
