/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './styles/icons/style.css';
@import './styles/elements/buttons';

:root{
    --primary: #5d60ef;
    --secondary: #c68eff;
    --background-color-100: #ffffff;
    --background-color-200: #fafbfd;
    --background-color-300: #f9f9f9;

    --text-color-100: #141c48;
    --text-color-200: #4f5b6a;
    --text-color-300: #9ba0b2;
    --text-color-400: #ffffff;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Noto Sans", sans-serif;
    color: var(--text-color-100);
    background-color: var(--background-color-100);
}

.d-contents{
    display: contents;
}
